<div>
  <% for (var i = 0 ; i < luckyNumber.length; i++) { %>
    <% if (luckyNumber[i] % 2 == 0) { %>
      <p>even: <%= luckyNumber[i] %></p>
    <% } else { %>
      <p>odd:  <%= luckyNumber[i] %></p>
    <% } %>
  <% } %>
</div>